<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Final Report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container text-center">
        <div>
                <p><a href="index.html">Home</a></p>
    <h1>Craft Beer App Technical Report</h1>

    <h2>Introduction and Background</h2>
    <p>The formula for a perfect beer is non-existent. Throughout the world, beer has mass popularity with
        a range of taste options to meet consumer demand. However, some locations have a more abundant selection
        compared to others. While taste buds play a key role in like or dislike of a beer, there are some beers that
        rank a lot higher, and people can mutually agree on this. However, venue can make or break the experience of
        craft beers. Due to the increasing demand and growing market for beer "design", and the social construct of it,
        it would be useful to have an idea of top rated breweries in the United States. The purpose of this project
        is to develop a flask application that displays web scraped data from the top rated breweries from the untappd
        website.
    </p>
    <h2>Methods</h2>

    <h3>Data Source</h3>

    <p>
        The original data sources include the breweries.csv from Kaggle, and the web scrape from "untappd.com"
        The breweries chosen for the web scrape was a random sample of 20 breweries 
        from the csv, which were identified through the search navigator on untappd. 
    </p>

    <h3>Cleaning and Transformation</h3>
    <p>
        The breweries csv required one column to be dropped. The name of the brewery, state, and city were retained. Additionally,
        "rating" was an empty column added before the scraping code was applied in order to populate the the column with
        the corresponding brewery's rating from untappd. 
    </p>

    <h3>Result Database</h3>
    <p>
        The scrape function stored the python dictionary in MongoDB, and bson.json was used to identify records from MongoDB.  
        Flask templating was used to develop an HTML page that displays the data. The HTML page called craft.html provides two buttons. 
        One for scraped data and the other for the technical report. Web scraping of the untappd data was chosen due to the length of time needed
        to retrieve an API which did not meet the timeframe/turnaround requirements of the project. There were no CSVs available with rating information,
        but the brewery CSV from Kaggle provided a foundation of brewery names that could be pulled from the untappd in a random sample. Additionally,
        the CSV provided location info for future analysis and app development.
    </p>


</div>
</div>
</body>

</html>